.explore-container {
  max-width: 935px;
  margin: 0 auto;
  padding: 24px 20px;
}

.explore-search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.explore-search-bar {
  background: #262626;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  max-width: 350px;
}

.explore-search-bar input {
  background: transparent;
  border: none;
  color: white;
  margin-left: 10px;
  outline: none;
  width: 100%;
}

.explore-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 290px;
  gap: 4px;
}

.explore-item {
  position: relative;
  cursor: pointer;
}

.explore-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-item.wide {
  grid-row: span 2; /* 2 rows cover karega */
}

.explore-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.explore-item:hover .explore-overlay {
  opacity: 1;
}

.overlay-content {
  color: white;
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.overlay-content span {
  display: flex;
  align-items: center;
  gap: 6px;
}